{# src/LP/UserBundle/Resources/views/Security/register.html.twig #}

{% extends "LPPartnerBundle::layout.html.twig" %}


{% block title %}
  LanguagePartner register - {{ parent() }}
{% endblock %}


{% block lppartner_body %}


  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <div class="jumbotron col-sm-3 user-login">
    <h1>Hello !</h1>
  </div>





{% endblock %}