{# phonecall tip #}

<div>
	<ul>
	  <li><span class='label label-danger'>0</span> 0 phone call</li>
	  <li><span class='label label-warning'>0</span> last phone call < 1 month ago</li>
	  <li><span class='label label-info'>0</span> last phone call < 2 weeks ago</li>
	  <li><span class='label label-primary'>0</span> call recently</li>  
	</ul>
</div>

